@import url(../../colors.css);
@import url(../../typography.css);

.card {
  font-family: var(--font-family);
  background-color: var(--color-white);
  border-radius: 6px;
  box-shadow: 0px 7px 19px 0px rgba(0, 0, 0, 0.1);
  color: var(--color-tuna);

  .title {
    font-weight: bold;
    border-bottom: var(--color-gallery) solid 1px;
    padding: 20px;
  }

  .content {
    padding: 20px;
  }
}
