@import url(../../../colors.css);
@import url(../../../typography.css);

.input {
  border: none;
  border-radius: 6px;
  box-shadow: 10px 10px 40px rgba(0,0,0,0.2);
  box-sizing: border-box;
  color: var(--color-violet);
  font-family: var(--font-family);
  font-size: 15px;
  height: 48px;
  padding: 0 16px;
  width: 100%;
  outline: none;
}

::placeholder {
  color: var(--color-gray-suit);
}
