:root {
  --color-black: #000000;
  --color-cornflower-blue: #6979F8;
  --color-gallery: #F0F0F0;
  --color-gray-suit: #D0C9D6;
  --color-governo-bay: #3134D1;
  --color-violet: #1A051D;
  --color-royal-blue: #3F45EC;
  --color-tuna: #3B3D43;
  --color-white: #ffffff;
}
